body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:global body .MuiDataGrid-row.Mui-odd:not(.Mui-selected) {
  background: rgb(220, 220, 220);
}

:global body .MuiDataGrid-root .MuiDataGrid-row:hover {
  color: lighten(white, 10%);
  background: lighten(rgb(4, 129, 151), 10%);
}
